<div class="row">
    <div class="column red">
        <app-chat-dialog></app-chat-dialog>
    </div>
    <div class="column blue">
      <p>"IsA","is a","is"</p>
      <p>"HasA","has a"</p>
      <p>"RelatedTo","related","is related to","is related"</p>
      <p>"ExternalURL","external"</p>
      <p>"FormOf","form"</p>
      <p>"PartOf","part","is part of"</p>
      <p>"UsedFor","used","is used for"</p>
      <p>"CapableOf","capable","is capable of"</p>
      <p>"AtLocation","location"</p>
      <p>"Causes","causes"</p>
      <p>"HasSubevent","subevent"</p>
      <p>"HasProperty","property"</p>
      <p>"MotivatedByGoal","motivated"</p>
      <p>"ObstructedBy","obstructed"</p>
      <p>"Desires","desires"</p>
      <p>"CreatedBy","created"</p>
      <p>"Synonym","synonym","is synonym of","is a synonym of","is same as"</p>
      <p>"Antonym","antonym","is antonym of","is a antonym of","is opposite of"</p>
      <p>"DistinctFrom","distinct","is distinct to"</p>
      <p>"DerivedFrom","derived","is derived to"</p>
      <p>"SymbolOf","symbol"</p>
      <p>"DefinedAs","defined"</p>
      <p>"Entails","entails"</p>
      <p>"MannerOf","manner"</p>
      <p>"LocatedNear","near"</p>
      <p>"HasContext","context"</p>
      <p>"SimilarTo","similar","is similar to"</p>
      <p>"EtymologicallyRelatedTo","related","is related to"</p>
      <p>"EtymologicallyDerivedFrom","derived'","is derived from"</p>
      <p>"CausesDesire","causes desire"</p>
      <p>"MadeOf","made","is made of"</p>
      <p>"ReceivesAction","receives"</p>
      <p>"InstanceOf","instance"</p>
    </div>
</div>
